In [1]:
# Imported package.
import pandas as pd

In [2]:
# Read the dataset.
df = pd.read_csv("data/ex1.5.csv")
df

     i    x
0    1   73
1    2   91
2    3   72
3    4   81
4    5   82
5    6   46
6    7   89
7    8   75
8    9   62
9   10   58
10  11   73
11  12   46
12  13   64
13  14   61
14  15   50
15  16   89
16  17   91
17  18   82
18  19   71
19  20   76
20  21   69
21  22   70
22  23   82
23  24   90
24  25   63
25  26   70
26  27   94
27  28   44
28  29  100
29  30   88
30  31   56
31  32   94
32  33   51
33  34   79
34  35   63
35  36   87
36  37   54
37  38  100
38  39   72
39  40   81

In [3]:
# Get the X data as a Numpy array.
x = df.x.values
print("X data:", x)

X data: [ 73  91  72  81  82  46  89  75  62  58  73  46  64  61  50  89  91  82
  71  76  69  70  82  90  63  70  94  44 100  88  56  94  51  79  63  87
  54 100  72  81]

In [4]:
# Calculate the mean and standard deviation of X data. In this exercise, I will show how to
# calculate the parameters manually and how to use the Numpy methods, which return the
# parameters of the array elements.
sum = 0
for i in x:
    sum += i
mean = sum / len(x)

diff = (x - mean) ** 2
sum = 0
for i in diff:
    sum += i
std = sqrt(sum / len(x))
print("Manual standard deviation:", std)
print("Numpy standard deviation:", x.std())

Manual standard deviation: 15.324796083472041
Numpy standard deviation: 15.324796083472041